<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="React app gist api">
    <meta name="keywords" content="HTML,CSS,Reactjs,gist api">
    <meta name="author" content="Rajat Singla">
    <title>React app gist api</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/geek-fonts.css">
  </head>
  <body>
    <div id="main"><%- markup -%></div>

    <script src="/js/bundle.js"></script>
  </body>
</html>
